body {
    background-color: rgb(21, 4, 68);
    color: rgba(230, 229, 214, 0.137);
    border: solid px rgba(245, 242, 242, 0.63);
}

section {
    background-color: rgb(96, 6, 119);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.chamada-texto {
    margin-right: 5%;
    margin-left: 5%;
}

img {
    height: 200px;
}

.categoria-videos {

    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    gap: 10px;
}