body {
    background-color: rgb(21, 4, 68);
    color: rgb(12, 12, 12);
    border: solid px rgba(5, 1, 20, 0.911);
}

section {
    background-color: rgb(245, 238, 247);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.chamada-texto {
    margin-right: 5%;
    margin-left: 5%;
}

img {
    height: 200px;
}

.categoria-videos {

    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    gap: 10px;
}