body {
    background-color: rgb(21, 4, 68);
    color: rgb(109, 107, 4);
    border: solid px white;
}

section {
    background-color: rgb(96, 6, 119);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {

    display: flex;
    overflow-x: auto;
    gap: 10px;
}